@font-face {
    /* License: ../fonts/DMSerifDisplay/OFL.txt */
    font-family: "DM Serif Display";
    src: url("../fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
    /* ../fonts/Assistant/OFL.txt */
    font-family: "Assistant";
    src: url("../fonts/Assistant/Assistant-Regular.ttf");
}

.navbar-brand {
    font-family: "DM Serif Display";
    font-style: italic;
    color: #392f4c;
}

.icon-link {
    font-size: 2em;
}