body {
    backdrop-filter: blur(7px);
    min-height: 100vh;
}

@font-face {
    /* License: ../fonts/DMSerifDisplay/OFL.txt */
    font-family: "DM Serif Display";
    src: url("../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf");
}

@font-face {
    /* License: ../fonts/Assistant/OFL.txt */
    font-family: "Assistant";
    src: url("../fonts/Assistant/Assistant-Regular.ttf");
}

/* So all h have same font */
h1,
h2,
h3,
#currently-open-text-navbar {
    font-family: "DM Serif Display";
}

.icon-link {
    font-size: 2em;
}

a.navbar-brand img {
    height: 3rem;
}

#opening-hours {
    max-width: 400px;
}

#list {
    font-size: 0.9rem;
    background-color: white;
}

.header {
    background-image: url(../images/purple_flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


#frontpageHeader {
    padding-top: 25vh;
}

.bginfo{
    display: inline-block;
    
}

#backgroundInfo {
    background-color: #cbcaff;
    width: 100%;
}

#openHours {
    font-size: 20px;
}

#openHoursContainer {
    width: 50%;
}

.mainInfo {
    font-size: 20px;
}

.liveOpen {
    font-size: 23px;
}

#fuText {
    margin-left: 30%;
}

#closedDaysInfo {
    margin-left: 15%;
}


.center-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* For different resolution */
@media (max-width:1410px) and (min-width:500px) {
    iframe {
        width: 300px;
        height: 300px;
    }

    #openHoursContainer {
        width: 75%;
    }
}

/* For different resolution */
@media (max-width:800px) {
    #marginFindUs {
        margin-top: 100px;
        margin-bottom: 90px;
    }

    #marginOpenHours {
        margin-bottom: 100px;
    }

    #designInfo {
        margin-top: 70px;
    }

    #closedDaysInfo {
        margin-bottom: 80px;
    }

}

/* For different resolution */
@media (max-width:500px) {
    iframe {
        width: 200px;
        height: 200px;
    }

    #openHoursContainer {
        width: 100%;
    }

}

/* For different resolution */
@media (max-width:400px) {
    .mainInfo {
        font-size: 14px;
    }

    .liveOpen {
        font-size: 21px;
    }
}

/* For different resolution */
@media (max-width:300px) {
    iframe {
        width: 150px;
        height: 150px;
    }

    #openHours {
        font-size: 16px;
    }

}