$primary: #392f4c;
$secondary: #cbcaff;
$success: #04e604;

:root {
    --bs-link-opacity: 1;
  }
  
  .icon-link {
    display: inline-flex;
    gap: 0.375rem;
    align-items: center;
    text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity));
    text-underline-offset: 0.25em;
    backface-visibility: hidden;
  }

$h1-font-size: 7rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$font-family-base: "Assistant";

$enable-rounded: false;

@import "../node_modules/bootstrap/scss/bootstrap";