<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Florist Blåklinten</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="https://kit.fontawesome.com/0b2436849d.js" crossorigin="anonymous"></script> <!-- Icons -->
    <script src="{{ url_for('static', filename='js/openingHours.js') }}"></script>

</head>
<!-- The following segment is navbar -->



<body onload="updateCurrentlyOpen(new Date());">
    <div class=" navbar navbar-expand-md bg-primary sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Florist Blåklintens logotyp">
            </a>
        </div>
    </div>



    <!-- This following segment is for the first page you see on the site -->
    <div class="container-fluid px-0">

        <div style="background-image: url('{{ url_for('static', filename='images/purple_flower.png') }}'); background-size: cover; height: 100vh;"
            class="img-fluid">

            <div class="container-fluid text-center h-75 align-items-center d-flex">

                <div class="container-fluid">
                    <h1 class=" h1 text-center text-secondary ">Florist Blåklinten</h1>

                    <div class=" text-center text-light">
                        Boka konsultation genom att ringa <a class="link-secondary"
                            href="tel:0630-555-555">0630&#8209;555&#8209;555</a><br>
                        Du kan även mejla
                        <a class="link-secondary"
                            href="mailto:info@ntig-uppsala.github.io">info@ntig&#8209;uppsala.github.io</a>
                    </div>
                    <div class="text-center">
                        <div class="text-center mt-2 rounded-3 my-auto text-secondary d-none text-bg-dark d-inline-block bg-opacity-75 px-1"
                            id="currently-open-text">Just&nbsp;nu:&nbsp;<span class="text-success">Öppet</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- This following segment is the white div with open and closed days, and open hours -->
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-md-6 mw-25 align-self-center">
                <div class="container">
                    <h2 class="h2 text-center mb-4 text-secondary ">Öppettider</h2>
                    <div class="text-black">
                        <p>Måndag-fredag <span class="float-end"> 10:00-16:00 </span></p>
                        <hr>
                        <p>Lördag <span class="float-end"> 12:00-15:00 </span></p>
                        <hr>
                        <p>Söndag <span class="float-end text-danger"> Stängt </span></p>
                        <hr>
                        <p class="text-center text-light"></p>
                    </div>
                </div>

            </div>


            <div class="col-md-6">
                <div class="container">
                    <h2 class="h2 text-center text-secondary">Stängda dagar</h2>
                    <ul class="list-unstyled text-start text-black">
                        <li>
                            Nyårsdagen
                            <span class="float-end">1/1</span>
                            <hr class="my-1">
                        </li>
                        <li>
                            Trettondedag jul
                            <span class="float-end">6/1</span>
                            <hr class="my-1">
                        </li>
                        <li>
                            Första maj
                            <span class="float-end">1/5</span>
                            <hr class="my-1">
                        </li>
                        <li>
                            Sveriges nationaldag
                            <span class="float-end">6/6</span>
                            <hr class="my-1">
                        </li>
                        <li>
                            Julafton
                            <span class="float-end">24/12</span>
                            <hr class="my-1">
                        </li>
                        <li>
                            Juldagen
                            <span class="float-end">25/12</span>
                            <hr class="my-1">
                        </li>
                        <li>
                            Annandag jul
                            <span class="float-end">26/12</span>
                            <hr class="my-1">
                        </li>
                        <li>
                            Nyårsafton
                            <span class="float-end">31/12</span>
                            <hr class="my-1">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- This following segment is the find us and custom make flowers with contants and map, final part before footer -->
    <div class="bg-secondary">
        <div class="container-fluid py-3">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="container">
                        <h2 class="h2 text-center mt-5 text-primary">
                            Vill&nbsp;du&nbsp;ha&nbsp;hjälp&nbsp;att komponera<br>din&nbsp;egen&nbsp;bukett?
                        </h2>
                        <div class="my-5">
                            <h3 class="h4 text-center pt-3 text-primary">Ring eller maila oss!</h3>
                            <p class="text-center text-light">
                                <a class="link-primary" href="tel:0630-555-555"> <i class="fa-solid fa-phone">&nbsp;</i>
                                    0630-555-555</a>
                                <br>
                                <a class="link-primary" href="mailto:info@ntig-uppsala.github.io"><i
                                        class="fa-solid fa-envelope">&nbsp;</i>info@ntig-uppsala.github.io</a>
                            </p>
                        </div>
                        <div class="my-5">
                            <h3 class="h4 text-primary text-center mt-3">Adress</h3>
                            <p class="text-center text-primary">
                                Fjällgatan 32H <br>
                                981 39 Kiruna
                            </p>
                        </div>

                    </div>
                </div>


                <div class="col-md-6">
                    <div class="container my-5">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2 class="h2 text-center text-primary">Hitta hit</h2>
                                <div class="text-center my-3">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1503.2561387938995!2d20.23140837816331!3d67.8660575009758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x45d0ba6368d7c9a3%3A0xe3887ef038c559b0!2sFj%C3%A4llgatan%2032%2C%20981%2039%20Kiruna!5e0!3m2!1ssv!2sse!4v1694676651494!5m2!1ssv!2sse"
                                        width="800" height="450"
                                        style="border:0; width: 100%; max-width: 800px; border-radius: 7px;"
                                        allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                                </div>
                                <p class="text-center text-light">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- This following segment is the footer -->
    <footer class="footer py-2 bg-primary text-center mt-auto">
        <a class="text-secondary h5" href="tel:0630-555-555"> <i class="fa-solid fa-phone">&nbsp;</i>
            0630-555-555</a>
        <span class="text-secondary">|</span>
        <a class="text-secondary h5" href="mailto:info@ntig-uppsala.github.io"><i
                class="fa-solid fa-envelope">&nbsp;</i>info@ntig-uppsala.github.io</a>

        <div class="container-fluid">

            <a class="px-3" id="facebook-link" href="https://www.facebook.com/ntiuppsala"><i
                    class="fa-brands fa-facebook text-secondary"></i></a>
            <a class="px-3" id="instagram-link" href="https://www.instagram.com/ntiuppsala/"><i
                    class="fa-brands fa-instagram text-secondary"></i></a>
            <a class="px-3" id="x-link" href="https://twitter.com/ntiuppsala"><i
                    class="fa-brands fa-x-twitter text-secondary "></i></a>

        </div>

    </footer>
</body>

</html>